.sidebar {
  background: #5caffd;
}
img {
  max-width: 30px;
  height: 170px;
}
li {
  list-style: none;
}
.s-list {
  padding: 3px;
  margin-top: 40px;
  border-radius: 15px;
  width: 100%;
}
.s-icon {
  font-size: 2rem;
  transition: 0.5s;
  color: whitesmoke;
}

.s-text {
  color: whitesmoke;
  position: absolute;
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-right: 5px;
}

.s-list:hover {
  background: rgb(173, 121, 121);
  transition: 0.5s;
  color: black;
}

.star {
  text-align: center;
  color: rgb(255, 136, 0);
  font-size: 30px;
}
